<div class="container">
  <div class="row justify-content-center">
    <% data.forEach(blog => { %>
<a href="/blog-post/<%=blog._id%>/">
      <div class="newsGridItem row">
        <div class="grid-child image col">


            <img src=<%=blog.imageUrls[0] || '/img/RSDI-LOGO.jpeg'%> alt="">

        </div>
<div class="col">
<div class="grid-child titleText">
  <h2><%=blog.title%></h2>

</div>
<span><%=blog.createdAt.toDateString()%></span>
</div>
</div>
  </a>
    <% }) %>
  </div>
</div>

<% if (nextPage !== null) { %>
  <div class="text-center">
    <a href="?page=<%=nextPage%>">View older posts</a>
  </div>
<% } %>
