<section id="services" class="text-center"> <!--Projects-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Our Projects</h6>
                    <h1>What We Do?</h1>

                </div>
            </div>
        </div>
        <div class="row g-4">

              <% data.forEach(project => { %>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src=<%=project.imageUrls[0] || '/img/RSDI-LOGO.jpeg'%> alt="">
                        <a href="/projects/<%=project._id%>/">
                        <h5><%=project.title%></h5>
                      </a>
                      <span><%=project.createdAt.toDateString()%></span>
                    </div>
                </div>
    <% }) %>

        </div>
    </div>

    <% if (nextPage !== null) { %>
      <div class="text-center">
        <a href="?page=<%=nextPage%>">View older posts</a>
      </div>
    <% } %>
</section>
